.btn-edge {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.client-card :hover {
  cursor: pointer;
}

.icon-pointer {
  cursor: pointer;
}

.search-input {
  font-size: 1.5em !important;
  text-align: center;
  text-transform: uppercase;
}

.progress-bar {
  display: none;
}

.fas {
  font-size: 1.35em;
  margin-top: 1px;
}
