body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.btn-edge {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.client-card :hover {
  cursor: pointer;
}

.icon-pointer {
  cursor: pointer;
}

.search-input {
  font-size: 1.5em !important;
  text-align: center;
  text-transform: uppercase;
}

.progress-bar {
  display: none;
}

.fas {
  font-size: 1.35em;
  margin-top: 1px;
}

.blinking{
  animation:blink 1s infinite;
}
@keyframes blink{
  0%{opacity: 0;}
  10%{opacity: .1;}
  20%{opacity: .2;}
  30%{opacity: .3;}
  40%{opacity: .4;}
  50%{opacity: .5;}
  60%{opacity: .6;}
  70%{opacity: .7;}
  80%{opacity: .8;}
  90%{opacity: .9;}
  100%{opacity: 1;}
}
